bin/
obj/
/FutureValue/.vs/FutureValue/FileContentIndex
/FutureValue/.vs/FutureValue/v17/.suo
/FutureValue/.vs/FutureValue/FileContentIndex/1ccce9ae-bccb-40f0-a50f-da5e36143007.vsidx
/FutureValue/.vs/FutureValue/FileContentIndex/362fdb36-c956-4196-9ea3-7af5de12543d.vsidx
/FutureValue/.vs/FutureValue/FileContentIndex/3d0c1e4f-8e85-4fa3-a5c8-dcb001cc89b5.vsidx
/FutureValue/.vs/FutureValue/FileContentIndex/48e562f9-432c-4882-9167-12b932c98e24.vsidx
/FutureValue/.vs/FutureValue/FileContentIndex/8a7abcde-2497-4b03-bd87-4cbec9453d7a.vsidx
/FutureValue/.vs/FutureValue/FileContentIndex/bb26270b-d6e6-42f8-8019-9dba75ce1c73.vsidx
/FutureValue/.vs/FutureValue/FileContentIndex/61db78fb-2b71-4934-aa04-b283edb90475.vsidx
/FutureValue/.vs/FutureValue/FileContentIndex/efebf7c9-b258-4721-b8e5-3cb8df8d565b.vsidx
/FutureValue/.vs/FutureValue/DesignTimeBuild/.dtbcache.v2
/FutureValue/.vs/FutureValue/v17/.futdcache.v2
/FutureValue/.vs/ProjectEvaluation/futurevalue.metadata.v6.1
/FutureValue/.vs/ProjectEvaluation/futurevalue.projects.v6.1
